body {
    background-color: black;
    color: whitesmoke;
    
}

.content-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.background-image {
    width: 35vw;
    height: auto;
    float: right; 
    margin-right:5vw; 
}


nav {
    background-color: red;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.popular-games {
    list-style-type: none;
    padding: 0;
}

.popular-games li {
    background-color: red;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    max-width: 400px;
    text-align: center;
    


}

.game-table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    background-color: black; 
    color: white; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 3px solid white; 
}

.game-table th, .game-table td {
    border: 2px solid white; 
    padding: 12px; 
    text-align: left; 
    min-width: 150px; 
}

.game-table th {
    background-color: #ff3333; 
    color: white;
    font-size: 18px;
    text-align: center; 
}

.game-table tr:nth-child(even) {
    background-color: #222; 
}

.game-table tr:nth-child(odd) {
    background-color: #111; 
}

.game-table tr:hover {
    background-color: #444; 
}

.centeredTitle{
    text-align: center;

}